*{margin: 0;padding: 0;}

.img-logo{width: 150px;}

  li{ 
    margin: 1rem;
    background-color: black;
    border: 2px solid black }

.ul { 
    list-style: none;
    font-size: 15px;
  }

.flex-container { 
  display: flex;
  justify-content: center;
  height: 75px;
  }

.header{
    background-color: black;
height: 20%;}

.body{
    background-color: beige;
height: 80%;}

.footer{
    background-color: black;
height: 20%;}
